<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unos</title>
</head>
<div>
    <h2>Unos akademske godine</h2>
    <form id="AkademskaGodina" action="/submit" method="post">
      <div>
        <label for="sifra_godine">Sifra akademske godine:</label>
        <input type="text"  id="sifra_godine" name="sifra_godine" required>
      </div>
      <div>
        <label for="naziv_godine">Akademska godina u koju se upisuje:</label>
        <input type="text"  id="naziv_godine" name="naziv_godine" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>